<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="styles/bootstrap.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-xs-6">
		</div>
		<div class="col-xs-3">
			<a href="#">Username</a>
		</div>
		<div class="col-xs-3">
			<a href="#">Sign out</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-9">
			<h1>Notices</h1>
			<div class="">
				<h3>Title</h3>
				<p>This constututes of the contents for the Notice board</p>
			</div>
		</div>
		<div class="col-xs-3">
		</div>
	</div>
	<div class="row">
	</div>
</div>

</body>
</html>